.section-intro {
  background-color: $color-grey-light-1;
  padding: 5rem 0;
  margin-top: 0vh;
  
}

.section-tours {
  padding: 25rem 0 50rem 0;
  background-color: $color-grey-light-1;
  margin-top: -9rem;
}