.btn-readmore {
  position: absolute;
  right: 5rem;
  // bottom: 5rem;
}

.btn-seminar-more {
  position: absolute;
  padding: .5rem;
  width: 9rem;
  border: 1px solid $color-gray-dark;
  margin: auto;
  right: .5rem;
  bottom: .5rem;
  
}

.btn-primary {
  border: 1px solid $color-primary-dark;
  border-radius: .5rem;
  background: transparent;
  padding: 1.2rem;
  width: 10rem;
  height: 5rem;
  // test
  
  &:hover {
    background-color: $color-primary-light;
    color: $color-white;
    border: 1px solid transparent;
  }
  &:focus,
  &:active {
    background-color: $color-primary-dark;
  }
}