.btn-readmore {
  position: absolute;
  right: 5rem;
  // bottom: 5rem;
}

.btn-seminar-more {
  position: absolute;
  padding: .5rem;
  width: 9rem;
  border: 1px solid $color-gray-dark;
  margin: auto;
  right: .5rem;
  bottom: .5rem;
  
}