.feature-box {
  background-color: rgba($color-white, .8);
  width: 20rem;
  height: 30rem;
  display: inline-block;
  font-size: 1.5rem;
  // padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .3s;
  margin: 3rem;
  position: relative;
  

  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  &:hover { 
    transform: translateY(-.1rem) scale(1.01);
  }

  &__text {

  }
  &__image {
    height: 20rem;
    position: relative;

    img {
      width: 100%;
    }
  }
}