
.header {
  height: 60vh;
  
  background-image: linear-gradient(
    to right bottom, 
    rgba($color-primary-light, 0.2), 
    rgba($color-primary-dark, 0.4)),
    var(--bg-img-url);
  background-size: cover;
  background-position: top;
  position: relative;
  --bg-img-url: url(../images/blank10x10.png);
  // clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  
    &:hover {
      animation: moveInRight 0.2s ease-out;
    }
  }
  
  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}